/* Base ------------------------------ */
*:not(br):not(tr):not(html) {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
body {
  width: 100% !important;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  background-color: white;
  color: #74787e;
  -webkit-text-size-adjust: none;
}

p,
ul,
ol,
blockquote {
  line-height: 1.4;
  text-align: left;
}

a {
  color: #3869d4;
}

a img {
  border: none;
}

td {
  word-break: break-word;
}

.container {
  max-width: 570px;
  margin: 0 auto;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
}

/* only for email first-line preview */
.preheader {
  display: none !important;
}

.mcad-frame {
  color: #2f3133;
  padding: 1.25rem 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  border-bottom: 2px solid #2f3133;
  margin: 0.5rem auto 1rem;
}

.mcad-frame .logo {
  height: 15px;
  display: inline-block;
  margin: 0 0.25rem;
  vertical-align: baseline;
}

.mcad-frame a {
  color: #2f3133;
  text-decoration: none;
}

main {
  padding: 1rem;
  max-width: 40rem;
}

.info-box {
  background: #eee;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 3px;
}
.info-box p {
  margin: 0;
}

.button {
  background-color: #3869d4;
  border-top: 10px solid #3869d4;
  border-right: 18px solid #3869d4;
  border-bottom: 10px solid #3869d4;
  border-left: 18px solid #3869d4;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
  -webkit-text-size-adjust: none;
}

.button--green {
  background-color: #22bc66;
  border-top: 10px solid #22bc66;
  border-right: 18px solid #22bc66;
  border-bottom: 10px solid #22bc66;
  border-left: 18px solid #22bc66;
}

.button--red {
  background-color: #ff6136;
  border-top: 10px solid #ff6136;
  border-right: 18px solid #ff6136;
  border-bottom: 10px solid #ff6136;
  border-left: 18px solid #ff6136;
}

h1 {
  color: #2f3133;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
}

h1 > strong {
  color: #2f3133;
  display: block;
  font-size: 2rem;
}

h2 {
  color: #2f3133;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #ccc;
  margin-top: 2em;
}

.key-value .key {
  font-size: 0.75rem;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1rem;
}
.key-value .value {
  font-family: monospace;
  font-size: 1.25rem;
}

.step-by-step tr > td:first-of-type {
  min-width: 6rem;
  vertical-align: top;
  padding-right: 1rem;
}

.contact-info p {
  margin: 0;
}

.email-header {
  text-align: center;
  margin-bottom: 2rem;
}

.header-image {
  font-size: 2.5rem;
}
